---
layout: default
---

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-list-item">
      <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      {% if post.external_url %}
      <a
        class="post-link external {{ post.external_site }}"
        href="{{ post.external_url }}">
      {% else %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <p class="post-summary">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt | strip_html }}
        {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>
