<footer class="site-footer">
  <div class="container">
    <div class="footer-photo">
      <img src="//gravatar.com/avatar/79b1b001d5ff186c9bd02e7487aa4142?d=404" />
    </div>

    <div class="footer-bio">
      <h3 class="name">Derek Prior</h3>

      <div class="social-links">
        <a href="https://twitter.com/derekprior" class="fa fa-twitter">
          derekprior
        </a>
        <a href="https://github.com/derekprior" class="fa fa-github">
          derekprior
        </a>
      </div>

      <p>Prioritized.net is written by Derek Prior. I'm a developer at
      thoughtbot in Boston and cohost of <a href="http://bikeshed.fm">The Bike
      Shed</a> podcast. When not at a computer, I can be found playing with my
      kids, riding my bike, or taking recreational sports way too seriously. I
      do not know how to hockey stop.</p>
    </div>
  </div>
</footer>
