<footer class="site-footer" role="complementary">
  <div class="container">
    <div class="footer-photo">
      <img
        alt="Derek's Avatar"
        src="//gravatar.com/avatar/79b1b001d5ff186c9bd02e7487aa4142?d=404" />
    </div>

    <div class="footer-bio">
      <h1 class="name">Derek Prior</h1>

      <div class="social-links">
        <a
          href="https://twitter.com/derekprior"
          class="fa fa-twitter"
          aria-label="Derek Prior on GitHub">
            derekprior
        </a>
        <a
          href="https://github.com/derekprior"
          class="fa fa-github"
          aria-label="Derek Prior on Twitter">
            derekprior
        </a>
      </div>

      <p><a href="/">Prioritized.net</a> is written by Derek Prior. I'm a
      developer at thoughtbot in Boston and cohost of <a href="http://bikeshed.fm">
      The Bike Shed</a> podcast. When not at a computer, I can be found playing
      with my kids, riding my bike, or taking recreational sports way too
      seriously. I do not know how to hockey stop.</p>
    </div>
  </div>
</footer>
