.site-footer {
  background-color: #fafafa;
  border-top: 1px solid #f7f7f7;
  color: #737373;

  .container {
    padding: 2em;

    @media (min-width: $medium-screen) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0 1em;
    }
  }

  .footer-photo {
    text-align: center;

    img {
      border-radius: 100%;
      max-height: 80px;
      max-width: 80px;
    }
  }

  .footer-bio {
    .name {
      margin: $small-spacing 0;
      text-align: center;

      @media (min-width: $medium-screen) {
        margin-top: 0;
        text-align: left;
      }
    }

    p {
      text-align: left;
    }
  }

  .social-links {
    text-align: center;

    a {
      color: #737373;
      margin-bottom: $small-spacing;

      &:not(:first-child) {
        padding-left: 1em;
      }
    }

    @media (min-width: $medium-screen) {
      text-align: left;
    }
  }
}
