.site-footer {
  background-color: #fafafa;
  border-top: 1px solid #f7f7f7;
  color: $light-gray;

  .container {
    padding: 2em;
  }

  .footer-photo {
    @include media($medium-screen-up) {
      @include span-columns(1);
    }

    text-align: center;

    img {
      border-radius: 100%;
      max-height: 80px;
      max-width: 80px;
    }
  }

  .footer-bio {
    .name {
      margin: $small-spacing 0;
      text-align: center;

      @include media($medium-screen-up) {
        margin-top: 0;
        text-align: left;
      }
    }

    p {
      text-align: left;
    }

    @include media($medium-screen-up) {
      @include span-columns(3);
      @include omega();
    }

  }

  .social-links {
    text-align: center;

    a {
      color: $light-gray;
      margin-bottom: $small-spacing;

      &:not(:first-child) {
        padding-left: 1em;
      }
    }

    @include media($medium-screen-up) {
      text-align: left;
    }
  }
}
