.podcast {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-spacing;

  @media (min-width: $medium-screen) {
    flex-direction: row;
  }
}

.podcast-art {
  margin-bottom: $small-spacing;

  @media (min-width: $medium-screen) {
    height: 100px;
    margin-right: $small-spacing;
    margin-top: $small-spacing/2;
  }
}
