.site-header {
  margin-top: 2em;
  text-align: center;
}

.site-title {
  font-size: 1.5em;
  font-weight: 600;
}

.site-title-link {
  color: $base-font-color;
  float: center;

  &:hover {
    color: $base-font-color;
  }
}

.site-nav-link {
  color: $medium-gray;
  text-decoration: none;
  transition: color 0.5s ease;

  &:hover {
    border-bottom: 2px solid $action-color;
    color: $base-font-color;
  }
}

.site-nav-link:not(:first-child) {
  margin-left: 1em;
}
