.post-list {
  padding: 2em;
}

.post-list-item {
  border-bottom: thin solid lighten($light-gray, 50%);
  margin-bottom: $base-spacing;
}

.post-link {
  color: $base-font-color;

  h2 {
    margin-bottom: $small-spacing/2;
  }

  @media (min-width: $large-screen) {
    &.external {
      display: block;

      &.thoughtbot {
        &:before {
          background: url("ralph.png") no-repeat;
          background-size: cover;
          content: " ";
          display: inline-block;
          height: 26px;
          margin-left: -3em;
          margin-top: 12px;
          position: absolute;
          width: 26px;
        }
      }
    }
  }
}

.post-meta {
  color: $light-gray;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  padding: $small-spacing 0;
}

.post-title {
  font-size: 2.0em;
  font-weight: 600;
}
